<h1>Migrating major releases</h1>

<p>emberx-select has had a couple of major version releases. In order to help you migrate easily we have put together a couple of guides. Going from 2.x to 3.x has the most amount of changes. Going from 3.x to 4.x is farily simple.</p>

<p>{{#link-to 'migration-guide.2-to-3'}}Migrating from 2.x to 3.x{{/link-to}}</p>
<p>{{#link-to 'migration-guide.3-to-4'}}Migrating from 3.x to 4.x{{/link-to}}</p>
