// Colors
// named with http://chir.ag/projects/name-that-color
$athens-gray: #F9FAFB;
$azure-radiance: #0B88F5;
$blue-zodiac: #14315D;
$french-rose: #F74D7B;
$picton-blue: #26ABE8;
$regent-gray: #7E8BA0;
$shuttle-gray: #555D6B;
$gallery: #EBEBEB;
$trout: #4B5360;
$white: #FFFFFF;

// Fonts
$primary: 'Montserrat', sans-serif;
