<h2>Click</h2>

{{#x-select value=it on-click="onClick"}}
  {{#x-option value=charles}}Charles{{/x-option}}
  {{#x-option value=bastion}}Bastion{{/x-option}}
  {{#x-option value=stanley}}Stanley{{/x-option}}
  <option>Nobody</option>
{{/x-select}}

<p class="spec-event-type">{{eventType}}</p>
