<h2>Focus Out</h2>

{{#x-select value=it onFocusOut=(action "focusOut") as |xs|}}
  {{#xs.option value=charles}}Charles{{/xs.option}}
  {{#xs.option value=bastion}}Bastion{{/xs.option}}
  {{#xs.option value=stanley}}Stanley{{/xs.option}}
  <option>Nobody</option>
{{/x-select}}

<p class="spec-event-type">{{eventType}}</p>
