<h1> XSelect </h1>
{{#x-select value=it action="tagYouAreIt" disabled=isDisabled}}
  {{#x-option value=charles}}Charles{{/x-option}}
  {{#x-option value=bastion}}Bastion{{/x-option}}
  {{#x-option value=stanley}}Stanley{{/x-option}}
{{/x-select}}
