<h1> XSelect </h1>

{{#link-to 'single'}}Single{{/link-to}} |
{{#link-to 'multiple'}}Multiple{{/link-to}} |
{{#link-to 'zany-embedded-html'}} Embedded HTML{{/link-to}} |
{{#link-to 'default-value'}}With Defaults{{/link-to}} |
{{#link-to 'events'}}Events & actions{{/link-to}} |
{{#link-to 'ember-data'}}Ember Data{{/link-to}}

<div>
  {{outlet}}
</div>
