<h1> XSelect </h1>

{{#link-to 'test-bed.single'}}Single{{/link-to}} |
{{#link-to 'test-bed.multiple'}}Multiple{{/link-to}} |
{{#link-to 'test-bed.zany-embedded-html'}} Embedded HTML{{/link-to}} |
{{#link-to 'test-bed.default-value'}}With Defaults{{/link-to}} |
{{#link-to 'test-bed.events'}}Events & actions{{/link-to}} |
{{#link-to 'test-bed.ember-data'}}Ember Data{{/link-to}}

<div>
  {{outlet}}
</div>
