<h1> XSelect </h1>

{{#link-to 'single'}}Single{{/link-to}} | {{#link-to 'multiple'}}Multiple{{/link-to}} | {{#link-to 'blockless-single'}}Blockless Single{{/link-to}} | {{#link-to 'blockless-single-option-value'}}Blockless Single W/ Option Value{{/link-to}} | {{#link-to 'blockless-multiple'}}Blockless Multiple{{/link-to}}

<div>
  {{outlet}}
</div>
