<div>
  {{#x-select value=model.name}}
    {{#x-option value="Larry"}}Larry{{/x-option}}
    {{#x-option value="Ollie"}}Ollie{{/x-option}}
    {{#x-option value="Wally"}}Wally{{/x-option}}
  {{/x-select}}

  <p>Model: {{model.name}}</p>

</div>
