<p>
{{#x-select value=selections action="selectionsChanged" disabled=isDisabled multiple=true}}
  {{#x-option value=charles}}Charles{{/x-option}}
  {{#x-option value=bastion}}Bastion{{/x-option}}
  {{#x-option value=stanley}}Stanley{{/x-option}}
  <option>Nobody</option>
{{/x-select}}
</p>
<p>Selected:</p>
<ul>
{{#each selection in model}}
  <li>{{selection.name}}</li>
{{else}}
  <li>(None)</li>
{{/each}}
</ul>
