<p>
{{#x-select value=it action="tagYouAreIt" disabled=isDisabled required=isRequired autofocus=hasAutofocus name=attrName form=attrForm size=attrSize}}
  {{#x-option value=charles}}Charles{{/x-option}}
  {{#x-option value=bastion}}Bastion{{/x-option}}
  {{#x-option value=stanley}}Stanley{{/x-option}}
  <option>Nobody</option>
{{/x-select}}
</p>
<p>Selected: {{it.name}}</p>
