<div>
  {{#x-select value=model.name as |xs|}}
    {{#xs.option value="Larry"}}Larry{{/xs.option}}
    {{#xs.option value="Ollie"}}Ollie{{/xs.option}}
    {{#xs.option value="Wally"}}Wally{{/xs.option}}
  {{/x-select}}

  <p>Model: {{model.name}}</p>
</div>
