<p>Event types:</p>
{{#link-to 'test-bed.events.blur' class="spec-blur-link"}}Blur{{/link-to}} |
{{#link-to 'test-bed.events.click' class="spec-click-link"}}Click{{/link-to}} |
{{#link-to 'test-bed.events.focus-out' class="spec-focus-out-link"}}Focus Out{{/link-to}}

{{outlet}}
